# Data Science Tools and Ecosystem

___In this notebook, Data Science Tools and Ecosystem are summarized.___

___Some of the popular languages that Data Scientists use are:___

1. R
2. Julia
3. Java
4. Go

In [5]:
___Some of the commonly used libraries used by Data Scientists include:___

SyntaxError: invalid syntax (2657682285.py, line 1)

___Some of the commonly used libraries used by Data Scientists include:___

1. NumPy
2. SciPy
3. Pandas

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

___Addition___

In [12]:
3+8

11

___Subtraction___

8-3

___Multiplication___

In [17]:
8*3

24

___ This a simple arithmetic expression to mutiply then add integers___

___ This a simple arithmetic expression to mutiply then add integers___

*** This a simple arithmetic expression to mutiply then add integers.***

In [23]:
*** This a simple arithmetic expression to mutiply then add integers.***

SyntaxError: invalid syntax (3785082873.py, line 1)

In [25]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [27]:
#This will convert 200 minutes to hours by diving by 60
200%60

20

In [29]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives:__

#List popular languages for Data Science
- java
- R
- julia

## Author

name